* {
    box-sizing: border-box;
}

header{
    color: white;
}

body {
    background-color: white;
    color: black;
    line-height: 1.5;
    font-size: 16px;
}

#weather-forecast{
    display: flex;
    justify-content: space-between;
}

.forecast-card{
    background-color: rgb(11, 12, 80);
    color: white;
    padding: 5px;
    margin: 10px;
}

#uv-span{
    padding: 3px;
    border-radius: 5px;
}

#history{
    display: flex;
    justify-content: center;
}